**/node_modules
**/dist
**/build
**/.vite
**/.env
**/.env.*
!**/.env.example
**/*.log

backend/data/

firmware/
docs/
tools/
*.pdf
*.jpg
*.png
code.txt
start.bat

.git
.gitignore
.github
.idea
.vscode
.DS_Store
